body {
  font-family: "Noto Serif JP", serif;
  background-color: rgba(47, 50, 56, 0.7);
  color: #dddddd;
}

a {
  text-decoration: none;
}

button, input, select, textarea {
  font-family: "Noto Serif JP", serif;
  color: black;
}

input, textarea {
  line-height: 18px;
  height: 19px;
  margin: 1px;
  font-size: 15px;
}

input[type="text"]:focus {
  outline: 0;
}

.btn {
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0);
  border: 5px double #dddddd;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn:hover {
  border-color: 0, 0, 0, 0;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
  cursor: pointer;
}

.formarea .text_area {
  color: rgba(47, 50, 56, 0.7);
  border: 1px solid #dddddd;
}

.imgarea {
  border: 1px solid rgba(238, 238, 238, 0.4);
}

.imgarea__img {
  text-align: center;
}

.imgarea__title {
  text-align: center;
}

.imgarea__table {
  text-align: center;
}

.imgarea__table table .color-code {
  border: 1px solid rgba(238, 238, 238, 0.4);
}

.imgarea__table form input {
  text-align: center;
}

.download-btn {
  padding: 0px 0 100px 0;
  width: 100%;
  text-align: center;
}

.download-btn .btn {
  margin: 0;
}

.how2use {
  width: 100%;
  padding: 30px 0 70px 0;
}

.how2use__title {
  text-align: center;
}

.how2use__step {
  margin: 30px 0 0 0;
  text-align: center;
}

.how2use img {
  width: 500px;
}

.how2use a {
  color: #00ACC1;
}

.error-area {
  margin: 30px 20% 0 20%;
  width: 60%;
  text-align: left;
}

.error-area .message {
  text-align: center;
  margin: 0 0 15px 0;
}

@media screen and (min-width: 768px) {
  .selecter {
    height: 25px;
  }
  body {
    border-left: 8px solid rgba(238, 238, 238, 0.4);
    border-right: 8px solid rgba(238, 238, 238, 0.4);
    height: 100%;
    min-height: 100%;
    max-width: 768px;
    margin: 0 auto 0 auto;
    padding: 30px 0 0 0;
  }
  .main {
    display: flex;
    margin: 30px;
    padding: 0 15px 0 15px;
  }
  .btn {
    width: 150px;
    margin: 15px auto 15px 75px;
    color: #dddddd;
    background-color: rgba(0, 0, 0, 0);
    border: 5px double #dddddd;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  }
  .btn:hover {
    border-color: 0, 0, 0, 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
  }
  .formarea {
    border: 1px solid rgba(238, 238, 238, 0.4);
    padding: 20px;
    margin: 0 30px 0 30px;
  }
  .formarea__title {
    font-size: 15px;
    margin: 10px 0 10px 0;
  }
  .formarea .text_area {
    color: rgba(47, 50, 56, 0.7);
    width: 145px;
    border: 1px solid #dddddd;
  }
  .formarea .btn {
    margin: 0;
  }
  .area-right {
    margin-right: 0;
  }
  .imgarea {
    width: 50%;
    border: 1px solid rgba(238, 238, 238, 0.4);
  }
  .imgarea__img {
    margin: 15px 50px 15px 50px;
    text-align: center;
  }
  .imgarea__title {
    text-align: center;
  }
  .imgarea__table {
    width: 100%;
    text-align: center;
  }
  .imgarea__table .colorarea {
    width: 90px;
    height: 20px;
  }
  .imgarea__table table {
    padding: 0 50px 0 50px;
    width: 100%;
  }
  .imgarea__table table .color-code {
    font-size: 15px;
    line-height: 20px;
    border: 1px solid rgba(238, 238, 238, 0.4);
  }
  .imgarea__table form {
    width: 150px;
  }
  .imgarea__table form input {
    margin: 10px 0 10px 0;
    font-size: 15px;
    text-align: center;
    width: 75px;
    margin: 0 auto 0 45.5px;
  }
  .imgarea__table .edit-table {
    display: flex;
    margin: 0 0 0 25px;
  }
  .imgarea__table .edit-table .colors {
    width: 146px;
    margin: 0 0 0 25px;
  }
  .imgarea__table .edit-table .colors .colorarea {
    width: 90px;
    margin: 2px;
    height: 23px;
  }
  .download-btn {
    padding: 0px 0 100px 0;
    width: 100%;
    text-align: center;
  }
  .download-btn .btn {
    margin: 0;
  }
  .sp-only {
    display: none;
  }
  .rgb2hex {
    display: flex;
    margin: 40px 0 0 0;
  }
  .rgb__inputarea {
    height: 30px;
    width: 300px;
    text-align: right;
  }
  .rgb__inputarea input {
    width: 70px;
  }
  .hex__inputarea {
    margin: 30px 0 30px 50px;
  }
  .hex__inputarea .hexout {
    width: 100px;
  }
  .rgb2hex-title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  div {
    margin: 10px 0 10px 0;
  }
  button, input {
    font-size: 0.5rem;
  }
  .formarea {
    width: 90%;
    margin: 100px 5% 50px 5%;
    font-size: 0.5rem;
  }
  .formarea__title {
    text-align: center;
    margin: 50px 0 50px 0;
  }
  .formarea__title input[type="file"] {
    height: 30px;
    position: absolute;
    opacity: 0;
  }
  .formarea__title input[type="tel"] {
    height: 30px;
    width: 50%;
    font-size: 17px;
    padding: 0 10px 0 10px;
  }
  .formarea__title button {
    height: 40px;
    width: 50%;
  }
  .formarea .sp-block {
    display: block;
    font-size: 15px;
  }
  .formarea__upload {
    color: rgba(47, 50, 56, 0.7);
    background-color: #dddddd;
    font-size: 20px;
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #00ACC1;
  }
  .imgarea__table {
    width: 100%;
  }
  .imgarea .space {
    display: none;
  }
  .imgarea table {
    width: 100%;
  }
  .how2use img {
    width: 100%;
  }
  .sp-none {
    display: none;
  }
  .edit-table {
    width: 100%;
  }
  .edit-table__title {
    margin: -5px 0 0 0;
    width: 100%;
    text-align: center;
  }
  .edit-table__form .input-wrap {
    text-align: right;
    height: 100%;
    width: 70%;
    margin: 5px 15% 5px 15%;
  }
  .edit-table__form .input-wrap .reset {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 15%;
  }
  .edit-table__form input[type="text"] {
    height: 30px;
    border: none;
    width: 7ch;
    font-size: 17px;
    margin: 0;
    border-radius: 0%;
  }
  .edit-table__form textarea {
    margin: 0;
  }
  .edit-table .btn {
    display: inline-block;
  }
  .download-btn {
    margin: 50px 0 0 0;
    text-align: center;
  }
  .download-btn .btn {
    margin: 0;
  }
  .rgb__inputarea {
    height: 30px;
    width: 70%;
    text-align: right;
  }
  .rgb__inputarea input {
    width: 70px;
  }
  .hex__inputarea {
    text-align: center;
    width: 70%;
    margin: 30px 15% 30px 50px;
  }
  .hex__inputarea .hexout {
    width: 100px;
  }
  .hex__inputarea button {
    height: 27px;
    border-radius: 0;
    background-color: rgba(47, 50, 56, 0.7);
    color: #dddddd;
  }
  .rgb2hex-title {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */