<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="../static/css/main.css">
    <title>Irochi|色違い生成サイト</title>
    <meta name="google-site-verification" content="ZRmVh3mNxhjYrr9lhgs8FU3G9LDQCA4DZnI5ZBhVa4o" />
    <meta name=”Description” content='イラストの色違いを直感的に簡単に作れるサイトです。作成した色違いイラストは無料で保存可能です。'>
</head>


<body>
    {% block content %}{% endblock %}
</body>

</html>